<!DOCTYPE html>
<html>
<head>
	<title>password Reset</title>
	<style type="text/css" media="screen">
		body {
			background-color: skyblue;
			text-decoration-color: white;
			font-size:7em;
		}
	</style>
</head>
<body>
	<center>
		This is our home page.<br/>
		Welcome <%=userName%>, to our Password Reset link.
	</center>
	<a href="<%=url%>/<%=token%>">Click here</a>	
	

</body>
</html>					
